body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.comment-box {
  border: 3px rgb(34,34,34) solid;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(34,34,34);
  border-radius: 15px;
}

.form-group {
  margin: auto;
  width: 80%;
  background-color: rgb(97, 218, 251);
  border-radius: 15px;
  padding-bottom: 10px;
}

h4 {
  margin: 0 0 10px 25px;
  padding-top: 15px;
}

.input-widths {
  display: flex;
}

input {
  height: 45px;
  margin: 5px 20px 5px 20px;
  border-radius: 15px;
  background-color: rgb(97, 218, 251);
  border: 3px solid black;
  padding-left: 30px;
  flex-basis: 100%;
  color: black;
  font-weight: bold;
  font-size: 12pt;
  user-select: none;
}

input:focus {
  outline: none;
}

.textarea {
  height: 65px;
  margin: 5px 20px 5px 20px;
  border-radius: 15px;
  background-color: rgb(97, 218, 251);
  border: 3px solid black;
  padding-left: 30px;
  flex-basis: 100%;
  color: black;
  font-size: 12pt;
}

::placeholder {
  color: black;
}

.post-comment-button {
  color: black;
  margin-top: 5px;
  margin-left: 30px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 0;
  cursor: pointer;
  user-select: none;
  width: 122px;
}

.post-comment-button:hover{
  color: black;
  background-color: rgb(80, 200, 241);
  margin-top: 5px;
  margin-left: 30px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px;
  padding-left: 15px;
  padding-right: 0;
  cursor: pointer;
  user-select: none;
  width: 122px;
}

.comment-box-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.show-comments-button {
  color: white;
  margin-top: 10px;
  margin-right: 105px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 13px;
  cursor: pointer;
  user-select: none;
  width: 122px;
}

.show-comments-button:hover {
  color: white;
  margin-top: 10px;
  margin-right: 105px;
  border: 1px solid white;
  border-radius: 5px;
  padding: 13px;
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  user-select: none;
  width: 122px;
}

h3 {
  margin-left: 25px;
  color: white;
}

.comment-count {
  margin-left: 120px;
  margin-top: 20px;
}

.comment {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgb(97, 218, 251);
  border-color: rgb(97, 218, 251);
}

.comment p {
  margin-left: 25px;
  color: rgb(34,34,34);
}

.comment hr {
  border-color: rgb(97, 218, 251);
}

.comment-header {
  font-weight: bold;
}
