body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.comment-box {
  border: 3px rgb(20, 158, 125) solid;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  background-color: rgb(34,34,34);
  border-radius: 15px;
}

h3 {
  margin-left: 25px;
  color: white;
}

.comment-count {
  margin-left: 35px;
}

.comment {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  color: white;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgb(97, 218, 251);
  border-color: rgb(97, 218, 251);
}

.comment p {
  margin-left: 25px;
  color: rgb(34,34,34);
}

.comment hr {
  border-color: rgb(97, 218, 251);
}
